Makefile
abi/
bionic/
art/
bootable/
build/
cts/
dalvik/
developers/
development/
device/
docs/
external/
hardware/
libcore/
libnativehelper/
ndk/
packages/
pdk/
platform_testing/
prebuilts/
sdk/
tools/
frameworks/av/
frameworks/compile/
frameworks/data-binding/
frameworks/ex/
frameworks/minikin/
frameworks/ml/
frameworks/multidex/
frameworks/native/
frameworks/opt/
frameworks/rs/
frameworks/support/
frameworks/volley/
frameworks/webview/
frameworks/wilhelm/
